body {
    /* background-color: lightblue; */
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card {
    top: 30%;
    width: 35%;
}

.logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.btn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #286090;
    /* Change to desired background color */
    box-shadow: 0 0 6px #286090;
    /* Change to desired shadow */
    /* Add any other styles you want to apply on hover */
}

.forget {
    text-align: right;
    padding-bottom: 10px;
}

.s1 {
    height: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    left: calc(50% - 257px / 2 + 0.5px);
    top: 743px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}


.input-field {
    display: flex;
    flex-direction: column;
}



span {
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0 10px;
}

header {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background: grey;
}

i {
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}